{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}

{% block title%} Yeni İHA Kaydı {% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include 'partials/_categories.html' %}
        </div>
        <div class="col-9">
            <div class="col">
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    {{ form.as_p }}
                    {{ form.media }}
                    <input type="submit" value="Post Oluştur">
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}